
<div class="d-flex flex-row bd-highlight mb-9 justify-content-center">
    <div class=" w-50 top">
<input class="form-control" type="email" placeholder="Email" [(ngModel)]="Email" aria-label=".form-control-lg example">
<br>
        <input class="form-control " type="password" placeholder="Password" [(ngModel)]="Password" aria-label=".form-control-lg example">
        <br/>
        <button type="submit" (click)="signin()" class="btn btn-primary  w-100">
            Login
          </button>
    </div>
</div>
